body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .zero{
    margin:0px !important;
    padding:0px !important;
  }
  .white{
    color:white;
    font-size: 11px;
    font-weight: 600;
  }
  #addQuestion{
   
    width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
  }
  
  
  #outer {height: 400px; overflow: hidden; position: relative;}
  #outer[id] {display: table; position: static;}
  
  #middle {position: absolute; top: 55%;} /* For explorer only*/
  #middle[id] {display: table-cell; vertical-align: middle; width: 100%;}
  
  #inner {position: relative; top: -50%} 
  
  .audito{
    
      background-image: url("../images/6.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height:100vh;
      ;
    }
  .ss{
    height:100vh; 
     background-image: url("../images/6.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
  }
    .imgLogo{
      height:30px
    }
  
    .yellow {
        color: #fadb35;
        font-size: 12px;
        margin-top: -80px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
  
    .fullscreen-icon {
      z-index: 1000000;
  }
  
  
  
  .colorWhite{
    color:white;
    font-size: 17px;
    margin-top: -9px;
  }
  
  .hero-image {
    background-image: url("../images/BREAK_OUT.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-image-expo {
    background-image: url("../imgonline-com-ua-CompressToSize-CbRBeW2qLwPzpsq.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text-expo {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-image-expo-zone1 {
    background-image: url("../Optimized-2\ stall\ bg\ \(1\).png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }
  

  .check{
    background-image: url("../18715-tv-panel-vector-thumb.png");
   
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-expo-zonetab {
    background-image: url("../BREAK_OUT.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

  .hero-image-expo-zone1234 {
    background-image: url("../0002\ final\ 2.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .zone1Video{
    background-image: url("../withouttv/stall\ 1\ \(1\)-min.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .zone2Video{  background-image: url("../withouttv/stall\ 2\ \(1\)-min.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  
    
  .zone3Video{  background-image: url("../withouttv/stall\ 3\ \(2\)-min.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  
  .hero-text-expo-zone1 {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  
  .hero-text-know-center {
    text-align: center;
    position: absolute;
    top: 72%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  
  .know-center{  background-image: url("../images/Optimized-0002\ final\ 2\ \(3\).png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  .widthHeightzone1{
     height: 450px;
     width: 300px;
     margin-left: 2rem;
  }
  

  .dropdown:hover>.dropdown-menu {
    display: block;
    background-image: url("../images/BREAK_OUT.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid white;
  }

  .dropdown-menu.show{
    background-image: url("../images/BREAK_OUT.png");
    border: 5px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
  
    a.dropdown-item:hover, a.dropdown-item{
      color:white;
      font-size: 14px;
      background: transparent;
      font-weight: 600;
    }

    .know-center-padding{
    padding: 0px 400px !important;
  
  
  }
  
  
  .dropKnow{
    font-size:10px;
    border-color:transparent !important;
    background-color:transparent !important ;
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-size: .8rem !important;
    color:black !important;
  }
  
  
  .dropKnow1{
    font-size:10px;
    border-color:transparent !important;
    background-color:transparent !important ;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: .8rem !important;
    color:black !important;}
  
  
    .center{
      text-align: center;
    }
  
    div#player{
      max-width: 100% !important;
    }
  
  
    .wrapper         {width:100%;height:90%;margin:0 auto;}
    .h_iframe        {position:relative;}
    .h_iframe .ratio {display:block;width:100%;height:auto;}
    .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
    

    .hero-text-know-centerk {
      text-align: center;
      position: absolute;
      top: 77%;
      left: 50%;
      text-align: center;
      width: 100%;
      transform: translate(-50%, -50%);
      color: white;
  }

  .knowBtn{
    color: #fff; 
   background-color: transparent; 
     border-color: transparent; 
    font-size: 11px;
    color: transparent;
    font-weight: 700;
  }

  
 

  .zone3Header{
    margin-top: -45px;
  }

  .zero{
    margin:0px !important;
    padding:0px !important;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px !important; 
     margin-left: 0px !important; 
}


.pt2{
margin-top: 2rem;

}


.dnV{
display: none;
}

.paddingLobby{
  padding:0rem 2rem
}

.yellowColor{
  color: red !important;
  font-size:12px !important;
  font-weight:600;
  letter-spacing: 1px !important;
    }

    .zones{
      color: black !important;
      font-size:12px !important;
      letter-spacing: 1px !important;
      font-weight: 600 !important;
    }

    .breakout{
      color: white !important;
      font-size:12px !important;
      letter-spacing: 1px !important;
      font-weight: 600;
    }


    .mtExP{
      margin-top: -80px;

    }

    .expFont{
font-size: 14px !important;
color: black !important;
    }

    .blackColor{
      color:black !important;
      font-size:14px !important;
        }




        .navPadding{
          padding: 0rem 9rem;
        }



        .disabled { 
          pointer-events: none; 
          cursor: default; 
      } 


      .bold{
        font-weight: 600;
      }

      .fotterPadding{

        padding: 0rem 5rem;
      }

      label {
        font-weight: 600;
        color: #073C69;
      }
      .bck{
       background-image: url("../images/login/NEW\ LOGIN\ PAGE\ PLAIN\ D-02.jpg");
       background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;




      }

      .mrg{
        margin-top: 30px;
      }

      .imgww {
        width: 100% !important;
        height: 100% !important;
      }

      .mrpay{
        margin: 0px 0px 0px 50px;
      }